<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <section class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><%=person%></a>
    </section>
    <section id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/person">My Questions </a></li>
            <li><a href="/myexams">My Exams </a></li>
            <li><a href="/allques">Questions of All Users</a></li>
		    <li><a href="/logout">Logout</a></li>
        </ul>
    </section>
</nav><br><br><br>
<section class="container">
	<center><h2><span class="fa fa-lock"></span>Change Password</h2>
	<form action='/changePassword' method='post'>
		<section class="form-group">
			<!-- <label></label> -->
			<input type="text" class="form" placeholder="Enter Old Password" name="oldpassword">
		</section>
		<section class="form-group">
			<input type="password" class="form" placeholder="Enter New Password" name="newpassword">
		</section>
		<button type="submit" class="btn btn-primary">Change</button>
	</form></center>
</section>
</body>
</html>